@import url('https://fonts.googleapis.com/css?family=Nunito');

.conocenos{
    text-align: center;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
    margin-top:1%;
}

.premios{
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.contactanos{
    text-align: center;
    font-size: 12px;
}

.logo2{
    align-content: center;
}