page-pagina-paciente {

    .BotonesInicio{
        margin-top: 20%;
    }

}

#boton1{
	background: #FF9D40;
	color: black;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5%;
    border: none;
}

.img1{
    float:left;
}

.titulo-pagpaciente{
    float: left;
    display: flex;
    justify-content: center;
}
.ajustes{
    float: right;
    margin-right: 2%;
    font-size: 173%;
    margin-top: 1%;
    opacity: 1;
}

.nivel, .nivelT{
    float: left;
}

.monedas, .monedasT{
    float: right;
}

.nivelT, .monedasT{
    font-size: 120%;
}

.nivel, .monedas{
    height: 4%;
    width: 7%;
    margin: 4%;
}