page-pagina-paciente {

}


.img1{
    float:left;
}

.titulo-pagpaciente{
    float: left;
    display: flex;
    justify-content: center;
}
.ajustes{
    float: right;
    margin-right: 2%;
    font-size: 173%;
    margin-top: 1%;
    opacity: 1;
}