<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>Seleccione el tipo de usuario:</ion-label>
  <ion-item>
    <ion-label class="nombre_toggle">Paciente</ion-label>
    <ion-toggle [(ngModel)]="paciente" (ionChange)="actualizarPaciente()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label class="nombre_toggle">Doctor</ion-label>
    <ion-toggle [(ngModel)]="doctor" (ionChange)="actualizarDoctor()"></ion-toggle>
  </ion-item>
  
  <form *ngIf="paciente" (ngSubmit)="onAddPaciente()" class="formulario_registro">
      <ion-label>Rellene el siguiente formulario:</ion-label>
    <ion-item>
      <ion-label class="titulos_campos">Nombre*</ion-label>
      <ion-input class="entradas" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="pacienteValue.nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Apellidos*</ion-label>
      <ion-input class="entradas" type="text" placeholder="Apellidos" name="apellidos" [(ngModel)]="pacienteValue.apellidos" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Correo electrónico*</ion-label>
      <ion-input class="entradas" type="email" placeholder="Correo electrónico" name="correo_registro" [(ngModel)]="pacienteValue.correoElectronico" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Contraseña*</ion-label>
      <ion-input class="entradas" type="password" placeholder="Contraseña" name="contraseña_registro" [(ngModel)]="pacienteValue.contrasena" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Teléfono</ion-label>
      <ion-input class="entradas" type="tel" placeholder="Teléfono" name="telefono" [(ngModel)]="pacienteValue.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Estautura (cm)</ion-label>
      <ion-input class="entradas" type="number" placeholder="Estatura" name="estatura" [(ngModel)]="pacienteValue.estatura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Peso (kg)</ion-label>
      <ion-input class="entradas" type="number" placeholder="Peso" name="peso" [(ngModel)]="pacienteValue.peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Año de nacimiento</ion-label>
      <ion-input class="entradas" type="number" placeholder="Año de nacimiento" name="nacimiento" [(ngModel)]="pacienteValue.anoNacimiento"></ion-input>
    </ion-item>
    <ion-label class="etiqueta_obligatorio">*Campo obligatorio</ion-label>
    <button class="boton" ion-button block type="submit">Aceptar</button>
  </form>

  
  <form *ngIf="doctor" (ngSubmit)="onAddDoctor()" class="formulario_registro">
    <ion-label>Rellene el siguiente formulario:</ion-label>
    <ion-item>
      <ion-label class="titulos_campos">Nombre*</ion-label>
      <ion-input class="entradas" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="doctorValue.nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Apellidos*</ion-label>
      <ion-input class="entradas" type="text" placeholder="Apellidos" name="apellidos" [(ngModel)]="doctorValue.apellidos" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Correo electrónico*</ion-label>
      <ion-input class="entradas" type="email" placeholder="Correo electrónico" name="correo_registro" [(ngModel)]="doctorValue.correoElectronico" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Contraseña*</ion-label>
      <ion-input class="entradas" type="password" placeholder="Contraseña" name="contraseña_registro" [(ngModel)]="doctorValue.contrasena" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Teléfono</ion-label>
      <ion-input class="entradas" type="tel" placeholder="Teléfono" name="telefono" [(ngModel)]="doctorValue.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Años de experiencia</ion-label>
      <ion-input class="entradas" type="number" placeholder="Años de experiencia" name="experiencia" [(ngModel)]="doctorValue.anosExperiencia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Número de colegiado*</ion-label>
      <ion-input class="entradas" type="number" placeholder="Número de colegiado" name="colegiado" [(ngModel)]="doctorValue.numeroColegiado" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Centro de trabajo</ion-label>
      <ion-input class="entradas" type="text" placeholder="Centro de trabajo" name="centro_trabajo" [(ngModel)]="doctorValue.centro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="titulos_campos">Especialidad*</ion-label>
      <ion-input class="entradas" type="text" placeholder="Especialidad" name="especialidad" [(ngModel)]="doctorValue.especialidad" required></ion-input>
    </ion-item>
    <ion-label class="etiqueta_obligatorio">*Campo obligatorio</ion-label>
    <button class="boton" ion-button block type="submit">Aceptar</button>
  </form>
</ion-content>
