page-home {

}

//.letras{
    //display:inline-block;
    //text-align: center;
    //vertical-align: middle;
    //float: inherit;
//}
.titulo{
    text-align: center;
    margin-right: 10%;
    margin-top: -2%;
}

.img{
    float:left;
}

.BotonesInicio{
    margin-top: 45%;
}



.boton{
	background: #FF9D40;
	color: black;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5%;
}

