@import url('https://fonts.googleapis.com/css?family=Nunito');

.editar{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align:center;
}

.lapiz{
    height:15%;
    width: 15%;
    align-items: center;
    margin-left: 41%;
}
