page-estadisticas {   

    .ios, .md {
        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }

    }

}

.contenidoSubpag{
    margin-top: 20%;
}
