@import url('https://fonts.googleapis.com/css?family=Nunito');

p{
    text-align: justify;
}

.Condiciones {
    text-align: center;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
}

.Eliminacion {
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.Politica{
    text-align: center;
    font-size: 26px; 
    font-family: 'Nunito', sans-serif;
}

.security{
    text-align: center;
    font-size: 43px;
    font-family: 'Nunito', sans-serif;
}