@import url('https://fonts.googleapis.com/css?family=Nunito');

.descarga{
    height: 50%;
    width: 90%;
    align-content: center;
    border-radius: 5%;
    display: block;
    margin-top:12%;
    margin-left: 5%;
}

.DatosDescargados{
    text-align: center;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;

}