
.gif{
    height: 100%;
    width: 85%;
    align-content: center;
    border-radius: 5%;
    display: block;
    margin-top:5%;
    margin-left: 8%;
    margin-right: 11%;
}

.fin1{
    text-align: justify;
    font-size: 22px;
}

.boton{
    border-radius: 10px;
    border:solid 1px;
}