page-pagina-insertar-med {

}

.titulos_campos{
    font-size: 12px;
}

.entradas{
    font-size: 12px;
}

.etiqueta_obligatorio{
    font-size: 8px;
}

.nombre_toggle{
    font-size: 12px;
}

.boton_inicio_sesion{
    margin-top: 10%;
    background: #FF9D40;
	color: black;
    font-weight: bold;
    width: 100%;
}