page-compartir {

}
.titulo1{
    text-align: center;
    font-size: 25px;
}

.icono{
    height: 10%;
    width: 10%;
    float: right;
    display: inline-block;
    margin-top: 4%;
    margin-right: 4.5%;
}

.redsocial{
    display: inline-block;
    margin-top: 5%;
    margin-left: 3%;

}

.Punch{
    border-radius: 10px;
    border:solid 1px;
    margin-top:2%;
    background-color: #FF9D40;
}